<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log Viewer - File Format</title>
    <link th:replace="fragments :: bootstrap_head">
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>
    <main class="flex-fill">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Parser - import file format setting</h1>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h4>Your settings</h4>
                            <hr>
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Select setting:</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <a class="option" th:each="setting:${file_settings}" id = "file_settings" th:value="${setting}" th:text="${setting}"></a>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </form>
                            <button type="button" class="btn btn-secondary">Edit</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                            <button type="button" class="btn btn-primary float-right">Import</button>
                        </div>
                        <div class="col">
                            <h5>Add new setting</h5>
                            <hr>
                            <form>
                                <div class="form-group">
                                    <label for="formGroupExampleInput">New setting name:</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="MyMachine...">
                                </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput">Enter delimiter:</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder='"[ ,^-]+..."'>
                                </div>
                                <div class="form-group">
                                    <label for="formGroupExampleInput">Enter column headers:</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Timestamp,Temperature,Status...">
                                </div>
                            </form>
                            <button type="button" class="btn btn-secondary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
</body>
</html>