<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log Viewer - File Format</title>
    <link th:replace="fragments :: bootstrap_head">
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>
    <main class="flex-fill">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Parser - import file format setting</h1>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <form>
                                <div class="form-group">
                                    <!-- TEST -->
                                    <div th:enctype="${file}">
                                        <h3 th:text="${file.getContentType()}"/>
                                    </div>
                                    <label for="exampleFormControlSelect1">Select setting:</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <a class="option" th:each="setting:${file}" id="file_settings"
                                           th:value="${setting}" th:text="${setting}"></a>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </form>
                            <a th:href="@{/file_format/add}" class="btn btn-outline-primary" role="button">Add new</a>
                            <button type="button" class="btn btn-outline-secondary">Edit</button>
                            <button type="button" class="btn btn-outline-danger">Delete</button>
                            <form method="POST" th:action="@{/table}" enctype="multipart/form-data">
                                <!--
                                <div class="form-group mt-3">
                                    <input type="file" name="file" class="form-control-file" id="file">
                                </div> -->
                                <button type="submit" class="btn btn-success float-right">Parse File</button>

                            </form>

                            <!--<a href="/table" class="btn btn-success float-right" role="button">Parse File</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
</body>
</html>