<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log Viewer</title>
    <link th:replace="fragments :: bootstrap_head">
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>
    <main class="flex-fill">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Welcome to Log Viewer</h1>
                <hr>
                <!-- Display error if any -->
                <div class="alert alert-danger" role="alert" th:if="${error}">
                    <strong>Error:</strong>
                    <span th:text="${message}"></span>
                </div>
                <!-- Select file  -->
                <form method="POST" th:action="@{/}" enctype="multipart/form-data">
                    <div th:if="${message}">
                        <h3 th:text="${message}"/>
                    </div>
                    <div class="form-group mt-3">
                        <label for="file">Select a file:</label>
                        <input type="file" name="file" class="form-control-file" id="file" accept=".csv">
                    </div>
                    <button type="submit" class="btn btn-primary">Upload File</button>
                </form>
            </div>
        </div>
    </main>

    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
</body>
</html>