<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log Viewer - Statistics</title>
    <link th:replace="fragments :: bootstrap_head">
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>
    <main class="flex-fill">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Statistics</h2>
                    <form>
                        <div class="form-group">
                            <label for="selectColHeader">Choose a column to analyze:</label>
                            <select th:field="*{headers}" class="form-control" id="selectColHeader">
                                <option value="0">All</option>
                                <option th:each="header: ${headers}"
                                        th:value="${header}"
                                        th:text="${header}"
                                        th:selected="${header}">
                                </option>
                            </select>
                        </div>
                        <a class="btn btn-outline-primary" role="button" id="showStatistics">Show statistics</a>
<!--                        <a th:href="@{/statistics}" class="btn btn-outline-secondary" role="button">Show statistics</a>-->
                    </form>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
</body>
</html>