<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log Viewer - Table</title>
    <link th:replace="fragments :: bootstrap_head">
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>
    <main class="flex-fill">
        <div class="container">
            <h1 class="display-4">Table</h1>
            <hr>
            <!-- Display error if any -->
            <div class="alert alert-danger" role="alert" th:if="${error}">
                <strong>Error:</strong>
                <span th:text="${message}"></span>
            </div>
            <!-- Display functionality buttons -->
            <p>idk if those buttons below should be buttons or something else, also I did not work on placing them so it makes sense, just adding to remember to come back to those reqs</p>
            <p>work work work</p>
            <div class="form-group">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Statistics
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Min</a>
                        <a class="dropdown-item" href="#">Max</a>
                        <a class="dropdown-item" href="#">Standard deviation</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-outline-secondary">Show Graph</button>
            </div>
            <!-- Display list of events -->
            <div class="jumbotron" th:if="${#lists.isEmpty(rows)}">
                <h1 class="display-4"> Not found </h1>
            </div>
            <div class="jumbotron" th:unless="${#lists.isEmpty(rows)}">
            <table class="table table-sm table-bordered">
                <thead>
                <tr>
                    <th  th:each="header:${headers}" id = "headers" th:text="${header}"></th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="row:${rows}" id = "rows">
                        <td th:each="cell:${row}" th:text="${cell}"></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </main>

    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
</body>
</html>