<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JSON parser</title>
    <link th:replace="fragments :: bootstrap_head">
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper">
    <div th:replace="fragments :: navbar"></div>
    <main class="flex-fill">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">JSON parser</h1>
                <hr>
                <table class="table table-sm table-bordered">
                    <thead>
                    <tr>
                        <th  th:each="header:${headers}" id = "headers" ></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="row:${rows}" id = "rows">
                            <td th:each="cell:${row}" th:text="${cell}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <div th:replace="fragments :: footer"></div>
</div>
<div th:replace="fragments :: bootstrap_body"></div>
</body>
</html>